<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905790811223-l0virnbl0ar83dsrh9hovkjmc682bh64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905790811223-l0virnbl0ar83dsrh9hovkjmc682bh64</string>
	<key>API_KEY</key>
	<string>AIzaSyBtSVBVrmCJRM1h4ze9EMMlk5VTYc6sjbk</string>
	<key>GCM_SENDER_ID</key>
	<string>905790811223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProjectChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-81e78</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-81e78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905790811223:ios:f9c5a87dbb9cd00c3f0712</string>
</dict>
</plist>